@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary-color: #f9f8f6;
    --secondary-color: #0d0c22;
    --tertiary-color: #feb150;
    --bg-color: #f9f8f6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.wellcome-text {
    font-size: 1rem;
}

.text-bold {
    font-weight: bold;
}

.nav-container {
    background-color: var(--bg-color);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.06);
    align-items: center;
}

.nav_item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.logo::first-letter {
    color: var(--tertiary-color-color);
}

.nav_list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.link {
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
}

.link--state-active {
    color: var(--secondary-color);
    font-weight: bold;
}

.nav_list-item::after .active {
    display: block;
    margin: auto;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: all 0.3s;
}

.nav_item--right {
    gap: 10px;
}

.nav_item-search_input {
    outline: none;
    border: none;
    padding: 0.5rem 0;
    border-radius: 5px;
}

.nav_item-search_input {
    padding: 0 1.4rem;
}

.input-container {
    position: relative;
}

.input-container::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s;
    position: relative;
    top: 5px;
}

.search-icon {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.hero {
    background-color: var(--bg-color);
    padding: 2.5rem;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}

.hero_content--title {
    font-size: 3.3rem;
}

.hero_content--paragraph {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 1.4rem;
    text-align: left;
    max-width: 40vw;
}

.button {
    padding: 0.6rem 1.5rem;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}

.button-ghost {
    font-size: 1rem;
    background-color: transparent;
    color: var(--secondary-color);
    border: none;
}

.button-primary {
    background-color: var(--secondary-color);
    color: white;
    font-size: 0.8rem;
}

.button-tertiary {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.book_container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.book_container .book_single_container:nth-child(2n-1) img {
    border-radius: 100% 100% 0 0;
    overflow: hidden;
}

.book_container .book_single_container:nth-child(2n) img {
    border-radius: 0 0 100% 100%;
    overflow: hidden;
}

.book_container img {
    height: 250px;
    width: 150px;
}

.book_container img:nth-child(2n) {
    width: 50%;
}

.book_single_container {
    display: flex;
    flex-direction: column;
}

.book_single_container-description {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.book_single_container-description h1 {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.book_single_container-description p {
    font-size: 0.85rem;
}

.bestseller {
    padding: 3rem;
}

.bestseller header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.bestseller a {
    font-size: 0.9rem;
}

.book_card_container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 20px;
}

.book_card_container img {
    width: 100%;
}

.book_card {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.book_card-description {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.book_card-description h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book_card-author {
    font-size: 0.8rem;
    font-weight: 400
}

.book_card-rating {
    display: flex;
    gap: 5px;
}

.book_card-rating--checked {
    color: orange;
}

.bg {
    width: calc(100vw-3rem);
    height: 400px;
    background-image: url('../../public/images/bg.jpg');
    background-size: cover;
    background-position: center;
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 2rem;
    margin-top: 40px;
}

.bg img {
    width: 50%;
    height: 100%;
}

.content_section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 20px;
    position: relative;
}

.content_section-title {
    font-size: 2.25rem;
    max-width: 80%;
    position: relative;
}

.content_section::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 80%;
    background-color: white;
    top: 0;
    right: 0;
}

.content_section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: white;
}


/* 
.content_section-title {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.content_section-title::before,
.content_section-title::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
}

.content_section-title::before {
    top: 0;
    right: 0;
    width: 20px;
}

.content_section-title::after {
    top: 50%;
    right: -20px;
    width: 50px;
    transform: translateY(-50%);
} */

.offer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.offer h1 {
    font-size: 2rem;
}

.offer-book_container_list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.offer-book_container_list .offer-book_container_item:nth-child(2n-1) .offer_book_container {
    border-radius: 0 0 50% 50%;
}

.offer-book_container_list .offer-book_container_item:nth-child(2n) .offer_book_container {
    border-radius: 50% 50% 0 0;
}

.offer-book_container_list .offer-book_container_item:nth-child(2n) {
    border-radius: 50% 50% 0 0;
}

.offer-book_container_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.offer-book_container_item h1 {
    text-align: center;
}


.offer_book_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    background-color: red;
}

.offer img {
    height: 200px;
    width: 100%;
}

.offer-book_container_item-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-book_container_item-title h1 {
    max-width: 60%;
    font-size: 1.2rem;
    font-weight: bold;
}